body {
  background-color: #fafafa;
  font-family: sans-serif;
}
form {
  position: relative;
  z-index: 1000;
}
input {
  outline: none!important;
  box-sizing: border-box;
  &[type="text"] {
    width: 100%;
    padding: 16px;
    font-size: 1.8rem;
    font-weight: 100;
    border: none;
  }
}
h1 {
  font-weight: 300;
  color: #121212;
  opacity: 0.5;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.text-center { text-align: center; }
.flex {
  &__row {
    display: flex;
    &.cen-ver { align-items: center; }
    &.cen-hor { justify-content: center; }
  }
  &__column {
    display: flex;
    flex-direction: column;
    &.cen-ver { justify-content: center; }
    &.cen-hor { align-items: center; }
  }
}
.todos__container {
  min-width: 500px;
  position: relative;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.todo-list {
  li {
    position: relative;
    overflow: hidden;
    box-shadow: 0 -1px 0 #ededed;
    .view {
      height: 100%;
      .toggle {
        width: 40px;
        margin: auto 0;
        border: none;
        background: none;
        appearance: none;
        -webkit-appearance: none;
        text-align: center;
        &:after {
          content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
        }
      }
      label {
        margin-left: 40px;
        flex: 1;
        transition: all 0.5s;
      }
      .destroy {
        width: 40px;
        text-align: center;
        font-size: 1.1rem;
        background: none;
        border: none;
        cursor: pointer;
        color: red;
      }
    }
    &:hover {
      button.destroy:after { content: "×"; }
    }
    &.done .view {
      label {
        text-decoration: line-through;
        color: lightgray;
      }
      .toggle:after {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
      }
    }
  }
}
.info {
  padding: 16px;
  span {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .filters {
     button {
       cursor: pointer;
       margin: 0 8px;
       border-color: rgba(0, 0, 0, 0.05);
       background: none;
       outline: none!important;
       border-width: 1px;
       border-radius: 4px;
       &.selected {
         border-color: black;
       }
     }
  }
  &:before {
    z-index: -1;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
  }
}
